.mainApp{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainApp-dashboard {
  width: 100%;
  height: 100vh;
}

.inspector-dashboard {
  width: 100%;
  height: 100vh;
}

.back{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./Components/LoginForm/creml2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.7);
  z-index: -1;
}