@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}


.sidebar-overlay {
    display: none;
}
.sidebar-open .sidebar-overlay {
    display: block;
}
.mobile-sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.sidebar-open .mobile-sidebar {
    transform: translateX(0);
}
@media (min-width: 1024px) {
    .mobile-sidebar {
        transform: none;
    }
}
